$common-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Segoe UI Symbol", "Segoe UI Emoji", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif;
$base-font-family: Nunito, -apple-system, $common-font-family;
$content-font-family:   "Open Sans", $common-font-family;
$code-font-family: "Source Code Pro", "Menlo", "Inconsolata", "Consolas", "Roboto Mono", "Ubuntu Mono", "Liberation Mono", "Courier New", monospace;
$base-font-size:   17px;

// Width of the content area
// $content-width:    1000px;
